@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-warm-yellow: #F4C542;
  --color-soft-ivory: #FDF7EC;
  --color-graphite-gray: #3C3C3C;
  --color-pencil-orange: #F59E0B;
  --color-eraser-pink: #EF4444;
  --color-deep-gray: #1f2937;
  --font-inter: 'Inter', 'sans-serif';
}

.custom-container {
  @apply container mx-auto p-4 lg:p-6 max-w-[1440px];
}